body {
  background-color: honeydew;
}

p {
  font-family:  "Times New Roman", Times, serif;
  font-size: 20px;
}

h1, h2 {
  color: indigo;
}

h3 {
  color: deepskyblue;
}

h4 {
  color: purple;
}

blockquote { 
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 22px;
  margin-right: 22px;
}



