body {
  background-color: honeydew;
}

p {
  font-family:  "Times New Roman", Times, serif;
  font-size: 20px;
}

h1 {
  color: darkmagenta;
}

h4 {
  color: dogerblue;
}

blockquote { 
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 26px;
  margin-right: 26px;
}

.title {
  color: darkmagenta;
}

.uppercase {
  text-transform: uppercase;
}
.publish-time {
  color: gray;
}

.cursive {
  font-family: cursive;
}

.capitalize {
  text-transform: capitalize;
}

.description h5 {
  color: teal;
}

